.top-field{
  min-width: 760px;
  position: fixed;
  width: 76.3%;
  height: 90px;
  background: rgba(0, 0, 0, 0.81);
  z-index: 10;
  padding-top: 10px;
  .top-line{
    height: 100%;
    width: 85%;
    float: right;
  }
}
.top-items{
  height: 50%;
  .number{
    color: azure;
    font-size:12px;
  }
  .work-days{
    text-align: center;
    color: azure;
    font-size:12px;
  }
  .delivery{
    color: azure;
    font-size:12px;
  }
}
.down-field {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
.kma{
  background: #ea862e;
  color: white;
  position: fixed;
  height: 90px;
  width: 100px;
  top:0;
  padding: 10px;
  padding-top: 15px;
  font-size: 20px;
  z-index: 99;
  text-align: center;
  left:9px;
  border-left: 1px solid #ea862e;
  border-right: 1px solid #ea862e;
}
.bottom{
  background-image: url("../images/discount.svg") ;
  transform: scaleY(-1);//поворот на 180
  width: 100px;
  height: 11px;
  left: -1px;
  background-size: 100px 11px ;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  top:90px;
}
.items{
  padding-left: 20px;
  padding-bottom: 50px;
}
.right-panel {
  position: fixed;
  .buy {
    text-align: center;
    padding-top: 22px;
    margin-top: -35px;
    padding-bottom: 15px;
    width:100%;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 53px;
    padding-left: 28px;
    background-color: white;
  }
  .clear {
    padding-left: 8px;
    padding-right: 13px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.24);
  }
  .down{
    height: 100%;
    background-color: rgba(241, 241, 241, 0.84);
  }
  .none {
    padding-top: 150px;
    text-align: center;
    font-size: 14px;
  }
  .none1 {
    text-align: center;
  }
}
.wrap{
  background-color: rgba(255, 240, 219, 0.51);
}
.container{
  width: 100%;
}
.btn-lg{
  padding: 10px 90px;
  margin: auto;
}
.down-field{
  padding-left: 14px;
}
